# Предобработка данных в Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('/Users/sergei/Datasets/titanic/train.csv', index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 1. Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [3]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

### 2. Какой части пассажиров удалось выжить? Посчитайте долю вы- живших пассажиров. Ответ приведите в процентах (число в ин- тервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [4]:
data['Survived'].value_counts(normalize=True)*100

0    61.616162
1    38.383838
Name: Survived, dtype: float64

### 3. Какую долю пассажиры первого класса составляли среди всех пас- сажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [5]:
data['Pclass'].value_counts(normalize=True)*100

3    55.106622
1    24.242424
2    20.650954
Name: Pclass, dtype: float64

### 4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [6]:
data['Age'].mean()

29.69911764705882

In [7]:
data['Age'].median()

28.0

### 5. Коррелируют ли число братьев/сестер с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [8]:
data.corr()

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

### 6. Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивает- ся специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [9]:
data[data['Sex'] == 'female']['Name'].value_counts()

Newsom, Miss. Helen Monypeny                                1
Yrois, Miss. Henriette ("Mrs Harbeck")                      1
Doling, Mrs. John T (Ada Julia Bone)                        1
Masselmani, Mrs. Fatima                                     1
Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)      1
Lindahl, Miss. Agda Thorilda Viktoria                       1
Cleaver, Miss. Alice                                        1
Ayoub, Miss. Banoura                                        1
Perreault, Miss. Anne                                       1
Drew, Mrs. James Vivian (Lulu Thorne Christian)             1
Moran, Miss. Bertha                                         1
Landergren, Miss. Aurora Adelia                             1
Silvey, Mrs. William Baird (Alice Munger)                   1
Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)        1
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)             1
Hart, Mrs. Benjamin (Esther Ada Bloomfield)                 1
Rugg, Miss. Emily                                           1
Goldenberg, Mrs. Samuel L (Edwiga Grabowska)                1
Van Impe, Miss. Catharina                                   1
Sandstrom, Miss. Marguerite Rut                             1
Asplund, Miss. Lillian Gertrud                              1
Ward, Miss. Anna                                            1
Kantor, Mrs. Sinai (Miriam Sternin)                         1
Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)    1
Bissette, Miss. Amelia                                      1
Carr, Miss. Helen "Ellen"                                   1
Hamalainen, Mrs. William (Anna)                             1
Frolicher, Miss. Hedwig Margaritha                          1
Quick, Miss. Phyllis May                                    1
Eustis, Miss. Elizabeth Mussey                              1
                                                           ..
Davis, Miss. Mary                                           1
Strom, Miss. Telma Matilda                                  1
Rosblom, Mrs. Viktor (Helena Wilhelmina)                    1
Ridsdale, Miss. Lucy                                        1
Longley, Miss. Gretchen Fiske                               1
Pinsky, Mrs. (Rosa)                                         1
Goldsmith, Mrs. Frank John (Emily Alice Brown)              1
Herman, Miss. Alice                                         1
Hogeboom, Mrs. John C (Anna Andrews)                        1
Mangan, Miss. Mary                                          1
Hocking, Mrs. Elizabeth (Eliza Needs)                       1
Slayter, Miss. Hilda Mary                                   1
Arnold-Franchi, Mrs. Josef (Josefine Franchi)               1
Johnston, Miss. Catherine Helen "Carrie"                    1
Lindblom, Miss. Augusta Charlotta                           1
Cameron, Miss. Clear Annie                                  1
Laroche, Miss. Simonne Marie Anne Andree                    1
Stanley, Miss. Amy Zillah Elsie                             1
Baclini, Mrs. Solomon (Latifa Qurban)                       1
Karun, Miss. Manca                                          1
Beane, Mrs. Edward (Ethel Clarke)                           1
Sagesser, Mlle. Emma                                        1
Leitch, Miss. Jessie Wills                                  1
Spencer, Mrs. William Augustus (Marie Eugenie)              1
Lahtinen, Mrs. William (Anna Sylfven)                       1
Serepeca, Miss. Augusta                                     1
Moussa, Mrs. (Mantoura Boulos)                              1
Newell, Miss. Madeleine                                     1
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)         1
Ryerson, Miss. Emily Borie                                  1
Name: Name, Length: 314, dtype: int64